$colorBlack: #000;
$colorWinner: #e74c3c;
$bgColor: #eee;

*::before,
*::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $bgColor;
}
